<%-include('partials/header')%>

<form class='board-post'>
  <div class="form-group">
    <label for="exampleFormControlInput1">제목</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">모집하는 분야</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>음향제작과</option>
      <option>광고제작과</option>
      <option>방송기술계열</option>
      <option>뉴미디어컨텐츠과</option>
      <option>영상제작과</option>
      <option>방송보도제작과</option>
      <option>방송극작과</option>
      <option>디지털영상디자인과</option>
      <option>공연예술계열</option>
      <option>영화예술과</option>
      <option>무대미술과</option>
      <option>실용음악계열</option>
      <option>방송연예계열</option>
      <option>패션스타일리스트과</option>
      <option>엔터테인먼트경영과</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">내용</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">첨부파일</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>

</form>

<%-include('partials/footer')%>